$color-w: #fff;
$color-g: #979797;
$color-b: #40aed7;
$color-bl: #000;
$font-family: Georgia, 'Times New Roman', Times, serif;

body{
    margin: 0;
}
.header{
    border-top: $color-b solid 5px;
    width: 100%;
}
.top-header{
    width: 100%;
    height: 120px;
    display: inline-block;
    background-color: $color-bl;
}
.th-left{
    float: left;
    width: 30%;
}
.th-right{
    float: right;
    width: 70%;
}
.th-left h3,h5{
    font-family: $font-family;
    font-weight: 100;
}
.th-left h3{
    color: $color-w;
    font-size: 28px;
    margin: 43px 0 0 20px;
}
.th-left h5{
    color: $color-g;
    font-size: 11px;
    margin: 0 0 0 20px;
}
.spisok1{
    margin-top: 54px;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
    font-weight: 100;
}
.spisok1 li{
    display: inline;
    color: $color-w;
    font-family: $font-family;
    list-style-type: none;
    text-transform: uppercase;
    margin-right: 40px;
    font-size: 13px;
}
.spisok1 li:hover{
    background-color: $color-b;
    padding: 13px 20px 13px 20px;
    border-radius: 13px;
    cursor: pointer;
}

.shout{
    margin: 20px 0 0 20px;
}
.shout p{
    font-size: 124px;
    color: #333333;
    font-family: $font-family;
    text-transform: capitalize;
    margin: 0;
}

.services{
    display: flex;
}
img {
    width: auto;
    padding-top: 10px;
}
.services .block{
    width: 225px;
    height: 305px;
    text-align: center;
    margin: 20px;
}
.services .block h4{
    font-size: 32px;
    font-weight: 100;
    text-transform: uppercase;
    font-family: $font-family;
    margin: 0;
    color: #333333
}
.services .block p{
    font-size: 12px;
    color: $color-g;
    font-family: $font-family;
}
.services .block:hover{
    background-color: $color-b;
    cursor: pointer;
    p{
        color: $color-w;
    }
    h4{
        color: $color-w;
    }
}

.stroka h1{
    font-family: $font-family;
    text-transform: capitalize;
    font-size: 124px;
    color: #d3d3d3;
    font-weight: 100;
    text-align: center;
    margin: 0;
}

.team{
    display: flex;
    margin-top: 15px;
}
.team .block{
    width: 225px;
    margin: 20px;
    height: auto;
}
.rectangl{
    width: 225px;
    height: 225px;
    background-color: #333333;
}
.rectangl p{
    color: $color-w;
    text-align: center;
    font-family: $font-family;
    font-weight: 600;
    padding-top: 100px;
}
.team .block h4{
    text-align: center;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e4e4e4;
}
.team .block a{
    font-family: $font-family;
    font-size: 13px;
    float: right;
    text-decoration: none;
    margin-bottom: 60px;
}

.footer{
    display: flex;
    background-color: #303030;
}
.footer .block{
    width: 225px;
    margin: 20px;
}
.footer .block h3{
    font-family: $font-family;
    font-size: 16px;
    color: $color-w;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer .block h6{
    font-family: $font-family;
    font-size: 13px;
    color: $color-g;
    margin: 0;
    padding-top: 35px;
}
.footer .block a{
    text-decoration: none;
    font-family: $font-family;
    font-size: 13px;
}
.footer .block p, time{
    font-family: $font-family;
    color: #666666;
    font-size: 13px;
}
.spisok2{
    padding: 0;
}
.spisok2 li{
    list-style-type: none;
    font-family: $font-family;
    border-bottom: 1px solid #404040;
    padding: 10px 0 10px 0;
}
form{
    padding-top: 10px;
}
.cl{
    padding: 0px 0 10px 0;
}
input{
    background-color: #222222;
    border: 0;
    padding: 10px 0 10px 5px;
}
button{
    background-color: $color-b;
    padding: 10px 15px 10px 15px;
    border-radius: 13px;
    border: 0;
    color:$color-w;
    cursor: pointer;
}

.cp{
    width: 100%;
    display: inline-block;
    background-color: #2b2b2b;
}
.cp-left{
    float: left;
    text-align: left;
    width: 50%;
}
.cp-right{
    float: right;
    width: 50%;
    text-align: right;
}
.cp p{
    font-family: $font-family;
    color: $color-g;
    font-size: 13px;
    padding-left: 20px;
    padding-right: 20px;
}